name: publish-docker.yml
on:
  push:
    branches:
      - '**'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/${{ github.repository }}
  IMAGE_TAG: 0.0.1-SNAPSHOT

permissions:
  contents: read
  packages: write


jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:latest
            network=host

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # Tag with both the version and latest
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.IMAGE_NAME }}:latest
          build-args: |
            API_URL=${{ secrets.API_URL }}
            APP_VERSION=${{ env.IMAGE_TAG }}

  deploy:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Pull latest image
        run: docker pull ghcr.io/entwickler-elf/phoenix-angular:latest

      - name: Stop and remove existing container
        run: |
          docker stop phoenix-angular || true
          docker rm phoenix-angular || true

      - name: Run new container
        run: |
          docker run -d \
            --name phoenix-angular \
            --restart always \
            -p 80:80 \
            ghcr.io/entwickler-elf/phoenix-angular:${{ env.IMAGE_TAG }}

      - name: Cleanup old images
        run: docker image prune -f
